<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<div th:include="_header"></div>
<div class="container">
    <form th:action="@{calculator}" th:object="${operationForm}" method="post">
        <div class="mb-3">
            <input class="form-control" th:field="*{firstNum}" type="text" placeholder="First number">
            <p style="color: red" th:if="${#fields.hasErrors('firstNum')}" th:errors="*{firstNum}"></p>
        </div>
        <div class="mb-3">
            <select class="form-select" th:field="*{operation}">
                <option value="sum">+</option>
                <option value="sub">-</option>
                <option value="mult">*</option>
                <option value="div">/</option>
            </select>
            <p style="color: red" th:if="${#fields.hasErrors('operation')}" th:errors="*{operation}"></p>
        </div>
        <div class="mb-3">
            <input class="form-control" th:field="*{secondNum}" type="text" placeholder="Second number">
            <p style="color: red" th:if="${#fields.hasErrors('secondNum')}" th:errors="*{secondNum}"></p>
        </div>
        <button class="btn btn-primary" type="submit">Result</button>
    </form>
    <div th:if="${result}" class="alert alert-success mt-3" role="alert" th:text="${result}">
    </div>
</div>
</body>
</html>