<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div th:include="_header"></div>
<div class="container" style="text-align: -webkit-center">
    <form  th:action="@{/user/registration}" th:object="${userForm}" method="post">
        <label class="form-label" >Username: </label>
        <input type="text" th:field="*{username}"/>
        <p style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        <p style="color: red" th:text="${userExistsError}"></p>
        <br>
        <label class="form-label" >Password: </label>
        <input type="password" th:field="*{password}"/>
        <p style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        <br>
        <button class="btn btn-primary" type="submit">Sing up</button>
        <br>
    </form>
</div>
</body>
</html>